.letterBoxContainer {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 20px;
}

.letterBox {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    padding: 5px;
    text-transform: uppercase;
}